doctype html
head
  title
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  // <![endif]
  style.
    * {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    padding: 0;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    .desktop_hide,
    .desktop_hide table {
    mso-hide: all;
    display: none;
    max-height: 0px;
    overflow: hidden;
    }
    .image_block img+div {
    display: none;
    }
    @media (max-width:720px) {
    .desktop_hide table.icons-inner {
    display: inline-block !important;
    }
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    .row-content {
    width: 100% !important;
    }
    .mobile_hide {
    display: none;
    }
    .stack .column {
    width: 100%;
    display: block;
    }
    .mobile_hide {
    min-height: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide,
    .desktop_hide table {
    display: table !important;
    max-height: none !important;
    }
    }
table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;' width='100%')
  tbody
    tr
      td
        table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #F4F4F4;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 700px;' width='700')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                          tr
                            td.pad(style='padding-left:30px;padding-right:30px;padding-top:10px;')
                              div(style="font-family: 'Trebuchet MS', Tahoma, sans-serif")
                                div(style="font-size: 12px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #555555; line-height: 1.2;")
                                  p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 16.8px;')
                                    strong
                                      span(style='font-size:46px;')
                                        | Welcome, #
                                        span(style='color:#009289;') #{name}
                                        | !
                        table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                          tr
                            td.pad(style='padding-bottom:5px;padding-left:30px;padding-right:30px;padding-top:25px;')
                              div(style='font-family: sans-serif')
                                div(style="font-size: 12px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; mso-line-height-alt: 18px; color: #555555; line-height: 1.5;")
                                  p(style='margin: 0; font-size: 12px; text-align: center; mso-line-height-alt: 18px;')
                                    strong
                                      span(style='font-size:20px;') Click below to confirm your email and login.
        table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #F4F4F4;' width='100%')
          tbody
            tr 
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 700px;' width='700')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 60px; padding-top: 25px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.button_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad
                              .alignment(align='center')
                                //if mso
                                  v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#{url}' style='height:72px;width:246px;v-text-anchor:middle;' arcsize='13%' stroke='false' fillcolor='#009289')
                                    w:anchorlock
                                      v:textbox(inset='0px,0px,0px,0px')
                                        center(style='color:#ffffff; font-family:Arial, sans-serif; font-size:26px')
                                a(href=`${url}` style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#009289;border-radius:9px;width:auto;border-top:0px solid transparent;font-weight:undefined;border-right:0px solid transparent;border-bottom:0px solid transparent;border-left:0px solid transparent;padding-top:10px;padding-bottom:10px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:26px;text-align:center;mso-border-alt:none;word-break:keep-all;" target='_blank')
                                  span(style='padding-left:45px;padding-right:45px;font-size:26px;display:inline-block;letter-spacing:normal;')
                                    span(dir='ltr' style='font-size: 16px; word-break: break-word; line-height: 2; mso-line-height-alt: 32px;')
                                      span(data-mce-style='font-size: 26px;' dir='ltr' style='font-size: 26px;')
                                        strong Confirm now
                                //if mso
        table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
// End
